.investigation-header{

    margin-top:40px;

    margin-bottom:50px;

}

.investigation-header h1{

    font-size:3rem;

    margin:20px 0;

}

.question-card{

    margin-top:30px;

    background:#111827;

    border:1px solid #334155;

    border-left:5px solid #38BDF8;

    border-radius:16px;

    padding:25px;

}

.question-card h2{

    margin-bottom:15px;

}

.question-card p{

    color:#94A3B8;

    line-height:1.8;

}