.project-card {
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 2rem;
    margin-top: 2rem;
  
    box-shadow: var(--shadow);
  
    transition: all .3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-8px);
    border-color: var(--primary);
  }
  
  .project-card h3 {
    color: var(--text);
    margin: 1rem 0;
  }
  
  .project-card p {
    margin-bottom: 1rem;
  }
  
  .project-card button {
    margin-top: 1rem;
  
    padding: .9rem 1.5rem;
  
    border: none;
  
    border-radius: 10px;
  
    background: var(--primary);
  
    color: white;
  
    cursor: pointer;
  
    transition: .3s;
  }
  
  .project-card button:hover {
    transform: scale(1.05);
  }